services:
  backend:
    build: ./backend
    container_name: sinuca_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: sinuca_frontend
    ports:
      - "8081:80" 
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  sinuca_db_data: